.movieCollection {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin: 50px;
}

.swiper-container .swiper {
  width: 600px;
  height: 300px;
}

.swiper-slide {
  margin: 0px;
}

.swiper-wrapper {
}

.swiper-button-prev,
.swiper-button-next {
  display: block !important; /* Override display: none; */
}
